.restaurants-search {
  width: 100%;
  @include columnCenter;
  &__location-info {
    display: flex;
    background-color: $bg-shade-1;
    color: $clr-txt-secondary;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    justify-content: center;
    z-index: -3;
    @media screen and (min-width: 1024px) {
      width: 40%;
      position: absolute;
      top: 0;
      right: 0;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    & i {
      font-size: 15px;
      margin-right: 18px;
    }
  }
  &__button-bloc {
    background-color: $bg-shade-2;
    width: 100%;
    padding: 10px 20px;
    text-align: left !important;
    box-shadow: $section-shadow;
    -webkit-box-shadow: $section-shadow;
    -moz-box-shadow: $section-shadow;
    z-index: 1;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "hdr btn"
      "txt btn";
    @media screen and (max-width: 1024px) {
      padding: 20px;
      gap: 20px;
      padding-bottom: 55px;
      @include columnCenter;
    }
    @media screen and (min-width: 1024px) {
      p:nth-child(2) {
        grid-area: txt;
        position: absolute;
        left: 15px;
        transform: translateY(40px);
      }
    }
  }
  & strong {
    font-size: 24px;
    font-weight: 900;
    @media screen and (min-width: 1024px) {
      grid-area: hdr;
      position: absolute;
      left: 15px;
    }
  }
  button {
    grid-area: btn;
  }
}
.explanations {
  @media screen and (min-width: 768px) {
    padding: 10px 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "hdr hdr hdr"
      "bt1 bt2 bt3";
    gap: 0 40px;
  }
  @media screen and (max-width: 768px) {
    @include columnCenter;
    gap: 20px;
    padding: 50px 20px;
  }
  h2 {
    @media screen and (min-width: 768px) {
      grid-area: hdr;
    }
    @media screen and (max-width: 768px) {
      align-self: start;
    }
  }
  &__step {
    display: flex;
    padding: 20px;
    background-color: $bg-shade-2;
    border-radius: 45px;
    box-shadow: $btn-shadow;
    transition: 0.3s;
    @media screen and (min-width: 768px) {
      &:nth-child(2) {
        grid-area: bt1;
      }
      &:nth-child(3) {
        grid-area: bt2;
      }
      &:nth-child(4) {
        grid-area: bt3;
      }
    }
    @media screen and (max-width: 768px) {
      width: 75%;
      justify-content: center;
    }
    &:hover {
      background-color: $bg-shade-3;
    }
    &-number {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: $primary-color;
      color: $clr-1;
      @media screen and (min-width: 768px) {
        transform: translateX(-30px);
      }
      @media screen and (max-width: 768px) {
        left: 13%;
      }
    }
    i {
      margin-right: 15px;
      font-size: 15px;
    }
    &:hover i {
      color: $primary-color;
    }
  }
}
