.img-menu-container {
  width: 100%;
  min-height: 40vh;
}
#paletteGout {
  background: url("../../assets/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
    center/cover;
}
#noteEnchantee {
  background: url("../../assets/images/stil-u2Lp8tXIcjw-unsplash.jpg")
    center/cover;
}
#francaise {
  background: url("../../assets/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg")
    center/cover;
}
#delice {
  background: url("../../assets/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
    center/cover;
}
.menu {
  background-color: $bg-shade-2;
  padding: 35px 15px;
  border-radius: 25px 25px 0 0;
  position: relative;
  //   transform: translateY(-25px);
  top: -26px;
  &-header {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    i {
      font-size: 22px;
      position: absolute;
      right: 15px;
      transform: translateY(5px);
      &:nth-child(2) {
        z-index: 2;
        &:hover {
          opacity: 0;
          + i {
            opacity: 1;
          }
        }
      }
      &:nth-child(3) {
        color: $primary-color;
        opacity: 0;
      }
    }
  }
  h2 {
    align-self: flex-start;
    font-size: 20px;
    position: relative;
    &::after {
      content: "";
      width: 30px;
      height: 3px;
      background-color: $third-color;
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }
  input[type="radio"] {
    display: none;
    &:checked {
      + label {
        span {
          transform: translateX(-70px);
        }
        .menu-starter__check-container,
        .menu-dishes__check-container,
        .menu-desserts__check-container {
          transform: scaleX(1);
          // transform: translateX(0);
          opacity: 1;
          i {
            transform: rotate(-720deg);
          }
        }
      }
    }
  }
  label {
    cursor: pointer;
    position: relative;
    height: 70px;
    width: 95%;
    background-color: $clr-1;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "hdr prc"
      "txt prc";
    &:hover {
      span {
        transform: translateX(-70px);
      }
      .menu-starter__check-container,
      .menu-dishes__check-container,
      .menu-desserts__check-container {
        transform: scaleX(1);
        // transform: translateX(0);
        opacity: 1;
        i {
          transform: rotate(-360deg);
        }
      }
    }
    h3 {
      text-align: left;
      font-size: 14px;
      grid-area: hdr;
    }
    p {
      text-align: left;
      font-size: 12px;
      grid-area: txt;
      position: absolute;
      bottom: 0;
    }
    i {
      font-size: 30px;
      color: $clr-1;
      padding: 20px;
    }
    span {
      grid-area: prc;
      position: absolute;
      bottom: 0;
      transition: 0.3s ease-in-out;
    }
  }
  &-starter {
    @include columnCenter;
    gap: 15px;
    margin-bottom: 20px;
    &__check-container {
      @include checkContainer;
    }
  }
  &-dishes {
    @include columnCenter;
    gap: 15px;
    margin-bottom: 20px;
    &__check-container {
      @include checkContainer;
    }
  }
  &-desserts {
    @include columnCenter;
    gap: 15px;
    margin-bottom: 20px;
    &__check-container {
      @include checkContainer;
    }
  }
  button {
    padding: 15px 40px;
  }
}
