@import "./variables";
@keyframes btnHoverEffect {
  0%,
  5% {
    transform: translateY(0);
    box-shadow: $btn-shadow;
    -webkit-box-shadow: $btn-shadow;
    -moz-box-shadow: $btn-shadow;
  }
  100% {
    transform: translateY(-5%) scaleX(1.05);
    box-shadow: $btn-shadowHover;
    -webkit-box-shadow: $btn-shadowHover;
    -moz-box-shadow: $btn-shadowHover;
  }
}
@keyframes btnActiveEffect {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(15deg);
  }
  100% {
    transform: translate(-20px, -50px) rotate(110deg);
  }
}
@keyframes btnActiveScale {
  0% {
    transform: scaleX(1);
  }
  15% {
    transform: scaleX(0.85);
  }
  75% {
    transform: scaleX(1.15);
  }
  100% {
    transform: scaleX(1.1);
  }
}
@keyframes mealsAppear {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes mealsAppear-desktop {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes titleAfterAnimation {
  from {
    transform: scaleX(0) translateX(45px);
    opacity: 0;
  }
  to {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}
/***************Loading Animation*****************/
@keyframes wineLoading {
  0% {
    transform: translate(0, 85%);
  }
  // 20% {
  //   transform: translate(-450px, 80%);
  // }
  // 40% {
  //   transform: translate(-900px, 60%);
  // }
  // 60% {
  //   transform: translate(-1350px, 40%);
  // }
  // 80% {
  //   transform: translate(-1800px, 20%);
  // }
  100% {
    transform: translate(-2250px, -13%);
  }
}
@keyframes lettersAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes underlineAnimation {
  0% {
    transform-origin: left;
    transform: scaleX(5%);
  }
  25% {
    transform: scaleX(105%);
  }
  50% {
    transform-origin: right;
    transform: scaleX(5%);
  }
  75% {
    transform: scaleX(105%);
  }
  100% {
    transform-origin: left;
    transform: scaleX(5%);
  }
}
