$clr-1: white;
$clr-2: black;

$bg-shade-1: #EDECEC;
$bg-shade-2: #F7F6F6;

$primary-color: #9356DC;
$gradient-primary-color: linear-gradient(0deg, rgba(147,86,220,1) 30%, rgba(255,121,218,1) 100%);

$secondary-color: #FF79DA;
$third-color: #99E2D0;

$clr-txt-secondary: rgb(53,53,53);