@media screen and (max-width: 600px) {
    header {
        padding-top: 20px;
        box-shadow: $header-shadow;
        -webkit-box-shadow: $header-shadow;
        -moz-box-shadow: $header-shadow;
    }
}